.header {
  width: 100vw;
}

.header-left {
  background: linear-gradient(to bottom right, #2dd9d9, #c0ffc0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 13vh;
}

.header-left h2 .router-link {
  color: #016363;
  text-decoration: none;
}

.header-right {
  width: 60vw;
  height: 8vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right-menu {
  height: 8vh;
  width: 12vw;
}

.header-right-menu-item {
  height: 8vh;
  width: 100%;
  text-decoration: none;
  color: #008282;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right-menu-item:hover {
  background: linear-gradient(to bottom right, #c0ffc0, #2dd9d9);
}

.top {
  width: 100vw;
  height: 55vh;
}

.top-image {
  width: 79vw;
  position: absolute;
  opacity: 0.3;
  z-index: 0.5;
  height: 55vh;
}

.top-image img {
  width: 100%;
  height: 100%;
}

.top-image2 {
  width: 15vw;
  height: 50vh;
  margin-top: 5px;
  margin-right: auto;
}

.top-image2 img {
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.score {
  position: absolute;
  z-index: 1;
  height: 55vh;
  width: 75vw;
  margin-right: 25vw;
  overflow-y: scroll;
  padding: 0 2vw;
  background: linear-gradient(to bottom right, #b8b8b8, white), 0.2;
  -ms-overflow-style: none;
}

.score::-webkit-scrollbar {
  display: none;
}

.score-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.score-menu-item {
  text-decoration: none;
  opacity: 1;
  color: #000;
  opacity: 0.9;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.score-menu-item img {
  width: 100%;
}

.score-menu-item h3 {
  margin: 0;
}

.score-menu-item:hover {
  opacity: 1;
}

.news {
  width: 79vw;
  margin-top: 5px;
  margin-right: auto;
}

.news-item {
  width: 79vw;
  height: 30vh;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  -ms-overflow-style: none;
  border: 1px solid black;
}

.news-item::-webkit-scrollbar {
  display: none;
}

.news-item ul {
  padding: 0;
}

.news-item li {
  border-bottom: 1px dotted #000;
  list-style: none;
  padding: 10px;
}

.news-item a {
  color: #000;
  text-decoration: none;
}

.news-item span {
  background-color: #2388b8;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

.news-item time {
  display: inline-block;
  font-weight: bold;
  margin-right: 40px;
}

.news-item p {
  color: #1c448d;
  display: inline-block;
  text-decoration: underline;
}

.news-item .new::after {
  content: "NEW";
  color: #d10606;
  font-size: 1.1rem;
  border: 1px solid #d10606;
  padding: 4px 8px;
  margin: 0 0 0 20px;
  display: inline-block;
  line-height: 1;
}

.band {
  height: 70vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  padding: 0 2vw;
  background: linear-gradient(to bottom right, #b8b8b8, white);
  -ms-overflow-style: none;
}

.band::-webkit-scrollbar {
  display: none;
}

.band-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.band-menu-item {
  text-decoration: none;
  color: #000;
  opacity: 0.8;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.band-menu-item img {
  width: 100%;
}

.band-menu-item h3 {
  margin: 0;
}

.band-menu-item:hover {
  opacity: 1;
}

.form {
  /* media queries */
}

.form .container {
  width: 79vw;
  margin-right: auto;
  text-align: center;
  background-color: #FAFAFA;
  margin-top: 30px;
}

.form .head {
  background: linear-gradient(to bottom right, #e3ffff, #203e69);
  color: #FAFAFA;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  margin-bottom: 10px;
}

.form textarea {
  height: 100px;
  margin-bottom: 10px;
}

.form input:first-of-type {
  margin-top: 35px;
}

.form input, .form textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color: #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

.form ::-webkit-input-placeholder {
  color: #FAFAFA;
}

.form :-moz-placeholder {
  color: #FAFAFA;
}

.form ::-moz-placeholder {
  color: #FAFAFA;
}

.form :-ms-input-placeholder {
  color: #FAFAFA;
}

.form button {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #2ABCA7;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width: 30%;
  color: #fff;
}

.form button:hover, .form .button:hover {
  background: #19a08c;
}

.form label.error {
  font-family: 'Source Sans Pro',arial,sans-serif;
  font-size: 1em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d89c9c;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

@media (max-width: 700px) {
  .form label.error {
    width: 90%;
  }
  .form input, .form textarea {
    width: 90%;
  }
  .form button {
    width: 90%;
  }
  .form body {
    padding-top: 10px;
  }
}

.form .message {
  font-family: 'Source Sans Pro',arial,sans-serif;
  font-size: 1.1em;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2ABCA7;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.footer {
  background: linear-gradient(to bottom right, #2dd9d9, #c0ffc0);
  height: 10vh;
}
